private/
target/
.settings/
.classpath
.project
.idea/
.claude/
*.iml
*.eml
*.ipr
*.iws
*.DS_STORE
TAGS
.metadata/
.DS_Store
.java-version
.checkstyle
nb-configuration.xml
nbactions.xml
dependency-reduced-pom.xml
.vscode
.flattened-pom.xml
